
export(as.Date2)
export(as_annum)
export(comb_vars)
export(rbind)
export(to_string)
export(any_n)
export(cut_sentence)
export(rownames_as_column)
export(colnames_as_value)
export(row_as_header)
export(unordered_combination)
export(drop_suffix)
